/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
   



.font {
    font-family: 'Josefin Sans', cursive !important;
}

:root
{
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}
.item {
    height: 350px !important;
}
.network {
    background-color: fff;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 9999;
    box-shadow: var(--shadow);
    padding: 10px;
}
.heart {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    font-size: 30px;
    opacity: 0;

}
.product:hover .heart {
    opacity: 1;
}
.toast-message {
   
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
    z-index: 99999999999;
    /* position: absolute; */
   
}

.wish {
    color: red !important;
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar {
    width: 100%;
    position: fixed !important;
    z-index: 999999 !important;
    height: 80px;
}
.container {
    padding: 100px 0;
}
.brdr-main {
    border: 2px solid var(--main-color);

}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black !important;
    text-decoration: none !important;
}
.product {
    position: relative;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.productCAT {
    border: solid 1px var(--light-color);
}
.productCAT:hover{
    box-shadow: var(--shadow);
    border: solid 1px var(--light-color);
}
.font-sm
{
    font-size: 13px !important;
}
.text-main
{
    color: var(--main-color) !important;
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.noCart{
    height: 400px;
    background-color: var(--light-color);

}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.brand {
    box-shadow: var(--shadow);
}
.active {
    background-color: var(--main-color) !important;
    border-radius: 5px;
    color: #fff !important;
}





@media (max-width: 900.98px){
    .key {
        font-size: 10px !important;
        /* padding: 0 10px !important; */
        opacity: 1 !important;
    }
    .navbar-collapse {
        /* flex-direction: column !important; */
     
    }
    .active {
       padding: 5px 20px!important;
       margin: 10px 0;


    }
    .toast-message {
        width: 100% !important;
        z-index: 999999 !important;
    }

}
